// 使用：在其他组件的style里 @use '../styles/variables' as *; 然后就可以直接用

// colors
$primary-color: #42b883;
$text-color: #333;
////
$header-color-dark: rgb(48, 49, 51);
$header-color-sun: rgb(255, 255, 255);
$left-list-color:rgb(33, 33, 33);
$right-list-color:rgb(33, 33, 33);

//border-color;
$border-color-dark:rgb(60, 60, 60); 

// 
$border-radius: 0.5rem;